<div class="announce-bar" id="announce-bar">
  <div class="announce-bar__ticker">
    <div class="announce-bar__track" id="announce-track">
      <span>⚡ FRETE GRÁTIS acima de R$199</span>
      <span>•</span>
      <span>PIX com 10% OFF em todos os produtos</span>
      <span>•</span>
      <span>Tamanhos do PP ao 4GG</span>
      <span>•</span>
      <span>Flash Deals todo fim de semana</span>
      <span>•</span>
      <span>⚡ FRETE GRÁTIS acima de R$199</span>
      <span>•</span>
      <span>PIX com 10% OFF em todos os produtos</span>
      <span>•</span>
      <span>Tamanhos do PP ao 4GG</span>
      <span>•</span>
      <span>Flash Deals todo fim de semana</span>
      <span>•</span>
    </div>
  </div>
</div>
